# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: scvi-colab

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    schedule:
        - cron: "0 10 * * *" # runs at 10:00 UTC (03:00 PST) every day

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ["3.10", "3.11", "3.12"]

        steps:
            - uses: actions/checkout@v2
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Cache pip
              uses: actions/cache@v3
              with:
                  path: ~/.cache/pip
                  key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
                  restore-keys: |
                      ${{ runner.os }}-pip-
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip wheel uv
                  pip install pytest-cov
                  pip install .[dev]
            - name: Lint with flake8
              run: |
                  flake8
            - name: Format with black
              run: |
                  black --check . || true
            - name: Test with pytest
              run: |
                  pytest --cov-report=xml --cov=scvi-colab
            - name: After success
              run: |
                  bash <(curl -s https://codecov.io/bash)
                  pip list
